{% extends "base_cursos.html" %}

{% block title %}
    {% if form.especialidad.data %}
        {{ form.especialidad.data }}
    {% else %}
        Nuevo Curso
    {% endif %}
{% endblock %}

{% block curso %}
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.numero.label }}
            {{ form.numero(size=5) }}<br>
            {% for error in form.numero.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.especialidad.label }}
            {{ form.especialidad }}<br>
            {% for error in form.especialidad.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.content.label }}
            {{ form.content }}<br>
            {% for error in form.content.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.turno.label }}
            {{ form.turno }}<br>
            {% for error in form.turno.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.lunes.label }}
            {{ form.lunes(size=20) }}<br>
            {% for error in form.lunes.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.martes.label }}
            {{ form.martes(size=20) }}<br>
            {% for error in form.martes.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.miercoles.label }}
            {{ form.miercoles(size=20) }}<br>
            {% for error in form.miercoles.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.jueves.label }}
            {{ form.jueves(size=20) }}<br>
            {% for error in form.jueves.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.viernes.label }}
            {{ form.viernes(size=20) }}<br>
            {% for error in form.viernes.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.post_image.label }}
            {{ form.post_image }}<br>
            {% for error in form.post_image.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    {% if post %}
    <form action="{{ url_for('curso.delete_curso', curso_id=curso.id) }}" method="post" novalidate>
        <input type="submit" value="Eliminar" />
    </form>
    {% endif %}
{% endblock %}