{% extends "base_cursos.html" %}

{% block title %}
    {% if form.especialidad.data %}
        {{ form.especialidad.data }}
    {% else %}
        Nuevo Curso
    {% endif %}
{% endblock %}

{% block curso %}
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.numero.label(class_="form-label") }}
            {{ form.numero(size=5, class_="form-control") }}<br>
            {% for error in form.numero.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.especialidad.label(class_="form-label") }}
            {{ form.especialidad(class_="form-control") }}<br>
            {% for error in form.especialidad.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.content.label(class_="form-label") }}
            {{ form.content(class_="form-control") }}<br>
            {% for error in form.content.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.turno.label(class_="form-label") }}
            {{ form.turno(class="form-check") }}<br>
            {% for error in form.turno.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.lunes.label(class_="form-label") }}
            {{ form.lunes(size=20, class_="form-control") }}<br>
            {% for error in form.lunes.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.martes.label(class_="form-label") }}
            {{ form.martes(size=20, class_="form-control") }}<br>
            {% for error in form.martes.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.miercoles.label(class_="form-label") }}
            {{ form.miercoles(size=20, class_="form-control") }}<br>
            {% for error in form.miercoles.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.jueves.label(class_="form-label") }}
            {{ form.jueves(size=20, class_="form-control") }}<br>
            {% for error in form.jueves.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.viernes.label(class_="form-label") }}
            {{ form.viernes(size=20, class_="form-control") }}<br>
            {% for error in form.viernes.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.post_image.label(class_="form-label") }}
            {{ form.post_image(class_="form-control") }}<br>
            {% for error in form.post_image.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    {% if post %}
    <form action="{{ url_for('curso.delete_curso', curso_id=curso.id) }}" method="post" novalidate>
        <input type="submit" value="Eliminar" />
    </form>
    {% endif %}
{% endblock %}