{% extends "base_cursos.html" %}

{% block title %}
    {% if form.nombre.data %}
        {{ form.nombre.data }}
    {% else %}
        Nueva Especialidad
    {% endif %}
{% endblock %}

{% block curso %}
    <form action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.familia.label }}
            {{ form.familia }}<br>
            {% for error in form.familia.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.codigo.label }}
            {{ form.codigo }}<br>
            {% for error in form.codigo.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.nombre.label }}
            {{ form.nombre }}<br>
            {% for error in form.nombre.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.nivel.label }}
            {{ form.nivel }}<br>
            {% for error in form.nivel.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.cert.label }}
            {{ form.cert }}<br>
            {% for error in form.cert.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.resolucion.label }}
            {{ form.resolucion }}<br>
            {% for error in form.resolucion.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.hcat.label }}
            {{ form.hcat }}<br>
            {% for error in form.hcat.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.hreloj.label }}
            {{ form.hreloj }}<br>
            {% for error in form.hreloj.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.requisitos.label }}
            {{ form.requisitos }}<br>
            {% for error in form.requisitos.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.diseno.label }}
            {{ form.diseno }}<br>
            {% for error in form.diseno.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.reemplaza.label }}
            {{ form.reemplaza }}<br>
            {% for error in form.reemplaza.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
    {% if post %}
    <form action="{{ url_for('curso.delete_especialidad', especialidad_id=especialidad.id) }}" method="post" novalidate>
        <input type="submit" value="Eliminar" />
    </form>
    {% endif %}
{% endblock %}