{% extends "base_cursos.html" %}

{% block title %}Especialidades{% endblock %}

{% block curso %}
    <ul>
    {% for especialidad in especialidad_pagination.items %}
        <li>
            <a href="{{ url_for('curso.detalles_especialidad', id=especialidad.id) }}">
             <b> {{ especialidad.codigo }} </b> - {{ especialidad.nombre }} 
            </a>
            {% if current_user.is_admin %}
            <a href="{{ url_for('curso.update_especialidad_form', especialidad_id=especialidad.id)}}">Modificar</a>
            <span> | </span>
            <a href="{{ url_for('curso.delete_especialidad', especialidad_id=especialidad.id) }}" >Eliminar</a>
            {% endif %}
        </li>
    {% else %}
        <li>No hay especialidades</li>
    {% endfor %}
    </ul>

    <div class=pagination>
        {%- for page in especialidad_pagination.iter_pages() %}
            {% if page %}
                {% if page != especialidad_pagination.page %}
                    <a href="{{ url_for('curso.especialidades', page=page) }}">{{ page }}</a>
                {% else %}
                    <strong>{{ page }}</strong>
                {% endif %}
            {% else %}
                <span class=ellipsis>…</span>
            {% endif %}
        {%- endfor %}
    </div>
{% endblock %}