{% extends "base_template.html" %}

{% block title %}Registro de usuarios{% endblock %}

{% block content %}
<div class="col-lg-4 col-md-2 col-1"></div>
<div class="col-lg-4 col-md-8 col-10 mt-3">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label(class_="form-label") }}
            {{ form.name(size=64, class_="form-control") }}<br>
            {% if form.name.errors %}
                <ul class=errors>
                {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.email.label(class_="form-label") }}
            {{ form.email(type="email", class_="form-control") }}<br>
            {% if form.email.errors %}
                <ul class=errors>
                {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.password.label(class_="form-label") }}
            {{ form.password(type="password", class_="form-control") }}<br>
            {% if form.password.errors %}
                <ul class=errors>
                {% for error in form.name.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</div>
<div class="col-lg-4 col-md-2 col-1"></div>
{% endblock %}